.margen-superior-main {
margin-top: 40px;
padding: 20px;
}

.texto-marca {
  color: rgb(141, 0, 0);
}

.color-iconos {
  color: rgb(0, 0, 71);
}

.color-boton-registro {
  background-color: rgb(1, 1, 94);
  border-color: rgb(1, 1, 39);
}

.color-boton-registro:hover {
  background-color: rgb(22, 95, 190);
  border-color: rgb(16, 68, 136);
}

